.Logo {
  max-width: 210px;
}
.Logo:hover {
  transition: ease-in 0.1s;
  transform: rotate(3deg);
  max-width: 205px;
}
@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
  .Logo:hover {
    transition: ease-in 0.1s;
    transform: rotate(3deg);
    max-width: 100px;
  }
}

.Menu {
  width: 100%;
  height: 94px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;

  background: var(--black);
  box-shadow: 1px 1px 8px 2px var(--primary);
}
body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}
@media (max-width: 800px) {
  .Menu {
    height: 40px;
    justify-content: center;
    padding-top: 10px;
  }
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}
